html {
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #BDBDBD;
}

.layout{
    width: 100%;
    
}
.layout-min{
    position: relative;
    background-color: #fff;
    width: 500px;
    min-width: 100px;
    border-radius: 10px;
    margin: 0 20px;
    align-items: center;
    text-align: center;

}
.layout-min span{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 32px;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 50px 0;
    text-align: center;
  
}
.border-line{
    margin-top: 0;
    font-size: 32px;
}
.border-line-p{
    margin-top: -25px;
    font-size: 24px;
}
.border-line-logo{
    position: relative;
    margin-top: -32px;
}
.border-line-logo img{
    opacity: 0.6;
}
.border-line-logo-ref{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.border-line-greeting{
    background-color: rgba(124, 124, 124, 0.3);
    margin: 0 45px 0 45px;
    border-radius: 5px;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
}
.border-line-greeting p{
    padding: 20px;
}
button{
    background-color: #03A6DD;
    border: 1px solid #03A6DD;
    border-radius: 5px;
    padding: 8px 35px;
    color: #fff;
}
button:hover{
    background-color: #05bffd;
}
.input-type{
    margin-bottom: 20px;
}

#loading-indicator {
    position: absolute;
    bottom: 20px;  
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    background: white;
    z-index: 9999;
  
  }
  
  .lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #333;
    border-color: orange transparent orange transparent; 
    animation: lds-hourglass 1.2s infinite;
  }
  
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  