body{
    margin: 0;
}
#login-panel{
    height: 96vh;
    border-bottom: 2vh solid #F2C711;
    border-top: 2vh solid #03A6DD;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-panel{
    box-shadow: 0 0 5px rgba(202, 202, 202, 0.75);
    width: 25rem;
    background-color: #EBEBEB;
    padding: 20px 0;
   
}
.login-panel span div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-input-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.login-input-button button{
    background-color: #03A6DD;
    border: 1px solid #03A6DD;
    border-radius: 5px;
    padding: 8px 35px;
    color: #fff;
    margin-left: 10px;
}
.login-input-button button:hover{
    background-color: #05bffd;
}
.login-panel-head p{
    font-size: 24px;
    margin: 10px 0 10px 0;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.login-input-password{
    padding: 10px;
    width: 350px;
}
.login-input-password input{
    padding: 10px;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    outline: none;
    border: 2px solid #F2C711;
    border-radius: 10px;
}
.new-password-div{
    background-color: #BBE6B8;
    height: 80px;
    width: 350px;
    display: flex;
    margin: 10px 0;
}
.new-password-div p{
    text-align: center;
    color: #616161;
}
.login-panel span:nth-child(2),.login-panel span:nth-child(3){
   display: flex;
   align-items: center;
   justify-content: center;
}