#Main-footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0090cd;
    border-top: 10px solid #f1c711;
    color: white;
}
.Main-footer-logo{
    display: flex;
    align-items: center;
}
.Main-footer-logo:nth-child(1){
    padding-right: 70px;
    border-right: 2px solid #f1c711;
}
.Main-footer-logo:nth-child(2),.Main-footer-logo:nth-child(3),
.Main-footer-logo:nth-child(4){
    padding-right: 70px;

}
#Main-footer p {
    font-size: 12px;
    margin-left: 10px;
}
@media screen and (max-width: 1200px) {
    .Main-footer-logo p{
        display: none;  
    }
    .Main-footer-logo{
        padding-right: 20px !important;
    }
  }