
@media (max-width: 1200px) {
  .container_2 {
    flex-direction: column;
    margin: 0 10px;
  }

  

}@media (min-width: 1201px) {
  .container_2 {
    margin: 0 50px;
  }

}



p {
  font-size: 18px;

}


.left_col{
  height: 150vh;
}
.container_2 {
  display: flex;
  align-items: center;
  border-radius: 25px;
  background-color: white;
  background-color: #D9DEE4;
  max-width: 1100px;
  min-width: 300px;

}
.main{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid transparent;
    margin-left: 240px;
    height: 80vh;
    
}
.lines {
    width: 100%;
    max-width: 800px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.right{
    width: 100%;
}